<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
</head>
<body>
    <h1>👨‍🎓 Об авторе</h1>
    
    <h2>Информация о студенте:</h2>
    <ul>
        <li><strong>Имя:</strong> Максим</li>
        <li><strong>Фамилия:</strong> Четырбок</li>
        <li><strong>Группа:</strong> 88ТП</li>
        <li><strong>Предмет:</strong> ИПО</li>
        <li><strong>Тема лабораторной:</strong> Создание и базовая настройка приложений Django</li>
    </ul>
    
   
    
    <hr>
    
    <p>
        <a href="/shop/">🏠 На главную</a> | 
        <a href="/shop/about">🏪 О магазине</a>
    </p>
</body>
</html>